<h3 id="section0" class="sub-header">成果物情報</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody id="result_analysis">
      <tr>
        <th>分類コード</th>
        <td><%%= pro_info.code %></td>
      </tr>
      <tr>
        <th>成果物名称</th>
        <td><%%= pro_info.name %></td>
      </tr>
      <tr>
        <th>読み方</th>
        <td><%%= pro_info.ruby %></td>
      </tr>
      <tr>
        <th>背景</th>
        <td><%%= pro_info.background %></td>
      </tr>
      <tr>
        <th>成果物概要（日本語）</th>
        <td><%%= pro_info.abst_ja %></td>
      </tr>
      <tr>
        <th>成果物概要（英語）</th>
        <td><%%= pro_info.abst_en %></td>
      </tr>
      <tr>
        <th>成果物ステータス</th>
        <td><%%= pro_info.status %></td>
      </tr>
      <tr>
        <th>採番単位</th>
        <td><%%= pro_info.num_unit %></td>
      </tr>
      <tr>
        <th>業務機能</th>
        <td><%%= pro_info.bus_func %></td>
      </tr>
      <tr>
        <th>管理部署</th>
        <td><%%= pro_info.manage_dep %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%%= pro_info.remarks %></td>
      </tr>
    </tbody>
  </table>
</div>