<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= page_conf.head_title %></title>

  <!-- Bootstrap core CSS -->
  <!--<link href="/css/vendor/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
   <!-- topbar-->
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="#">成果物・KPI管理システム</a>
          <li class="nav-item"><a class="nav-link" href="/pro_search">成果物の検索・更新</a></li>
          <li class="nav-item"><a class="nav-link" href="/pro_registration">成果物の新規登録</a></li>              
          <li class="nav-item"><a class="nav-link" href="kpi_search">KPIの検索・更新</a></li>
          <li class="nav-item"><a class="nav-link" href="kpi_registration">KPIの新規登録</a></li>
      </ul>
    </div>
</nav>
    <!-- side bar & contents -->
    <div class="container-fluid">
      <div class="row">
        <!-- side ver -->
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <%- include('__sidebar',{conf:page_conf.sidebar}) %>
        </nav>

        <!-- contents -->
      <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <% var ejs = page_conf.ejs %>
          <%- include(ejs,{conf:page_conf.contents}) %>
        </main>
      </div>
    </div>

 <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
			  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
  <!-- customized js -->
  <script src="js/util.js"></script>
  <script src="js/pro_search.js"></script>
    
</body>

</html>